@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

#fot{
    padding: 5px;
    background-color: green;

}   

.titulos{
    padding-top: 2%;

}

.navbar-color{
    background-color: green;

}

.esp{
    padding-top: 1%;

}
